<div class="header-container">
  <h1 class="diabetes-heading">Diabetes Data</h1>
  <button class="add-btn" (click)="addData()">
    <span class="plus-sign">+</span>
    <span class="add-text">Add Data</span>
  </button>
</div>
<table *ngIf="diabetesData.length > 0; else noData">
  <thead>
    <tr>
      <th>Date</th>
      <th>Blood sugar level in am</th>
      <th>Breakfast menu</th>
      <th>Lunch menu</th>
      <th>Dinner menu</th>
      <th>Blood sugar level in pm</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of diabetesData">
      <td>{{ record.date }}</td>
      <td>{{ record.bloodSugarAM }}</td>
      <td>{{ record.breakfast }}</td>
      <td>{{ record.lunch }}</td>
      <td>{{ record.dinner }}</td>
      <td>{{ record.bloodSugarPM }}</td>
    </tr>
  </tbody>
</table>
<ng-template #noData>
    <div class="no-data">
      No data available.
    </div>
</ng-template>