<div class="row justify-content-center align-items-center h-100">
  <div class="col-lg-6 col-md-8">
    <h1>Reset Password</h1>

    <div class="alert alert-danger" *ngIf="error">
      There was a problem resetting your password. Please try again.
    </div>

    <div class="alert alert-warning" *ngIf="!temppasswordsent && !error">
      Enter your email to recieve a temporary password
    </div>

    <div class="alert alert-success" *ngIf="temppasswordsent">
      A temporary password has been sent to your email. Please sign in to retrieve your account
    </div>

    <form role="form">
      <div class="form-group">
        <label for="email">email:</label>
        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email" />
      </div>

      <button class="btn btn-primary" [disabled]="isLoading" (click)="sendTempPassword()">Submit</button>
    </form>
  </div>
</div>